 #!/usr/bin/env bash

alias ls="eza --icons --git --group-directories-first --header"

# SHOW/HIDE HIDDEN FILES
alias showhidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidehidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# SHOW/HIDE DESKTOP ICONS
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# NeoVim
alias vi=nvim

# Files preview
alias fzfp="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"
alias vip='nvim $(fzf -m --preview="bat --style=numbers --color=always --line-range :500 {}")'
